body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#dicount{
    background-color: #1f1f1f ;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
}

#navbar{
    display: flex;
    margin: auto;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* border: 1px solid red; */
    justify-content: space-around;
}

#navbutton{
    width: 40%;
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    text-align: center;
    /* border: 1px solid blue; */
}

a{
    margin: auto;
    text-decoration: none;
    color: black;
}

#logo> a > img{
    /* border: 1px solid green; */
    height: 50px;
    padding-top: 10px;
}

#categories{
    -webkit-appearance: none;
    border: none;
    width: 15%;
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 50px;
    font-size: 16px;
}

option{
    padding-left: 10px;
    text-align: left;
}

#icon{
    width: 15%;
    height: 40px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    padding-top: 20px;
}

.sidenav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh);
    transition: 0.4s;
    /* transform: translateX(100%); */
}

#SignUp{
    color: blue;
}

.search{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh);
    transition: 0.4s;
}

#top-search{
    width: 100%;
    margin: auto;
    display: flex;
    /* border: 1px solid red; */
}

#top-search > h4{
    text-align: center;
    font-family: sans-serif;
    padding-left: 150px;
}

#top-search > h4 + a{
    text-decoration: none;
    padding-left: 150px;
}

#search-cat{
    width: 92%;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #cdcdcd;
    /* border: 1px solid red; */
}

.register{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh);
    transition: 0.4s;
    /* transform: translateX(100%); */
}

#regis{
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

#top-reg{
    width: 100%;
    margin: auto;
    display: flex;
    /* border: 1px solid red; */
}

#top-reg > h4{
    text-align: center;
    font-family: sans-serif;
    padding-left: 180px;
}

#top-reg > h4 + a{
    text-decoration: none;
    padding-left: 150px;
}

#regis > input:nth-child(1){
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 150px;
}

#regis > input:nth-child(2){
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

#regis > input:nth-child(3){
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#regis > input:nth-child(3) + label + a:hover{
    text-decoration: underline;
}

#regis > input[type=submit]{
    width: 102%;
    height: 50px;
    background-color: #1f1f1f;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
}

#SignUp{
    cursor: pointer;
}

#box{
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
}

#search-box{
    width: 90%;
    height: 40px;
}

#login{
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}
#login > input:nth-child(1){
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 150px;
}

#login > input:nth-child(2){
    width: 100%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}

#login > input:nth-child(3){
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#login > input:nth-child(3) + label{
    margin: auto;
    margin-top: 20px;
    padding-right: 80px;
}

#login > input:nth-child(3) + label + a:hover{
    text-decoration: underline;
}

#login > input[type=submit]{
    width: 102%;
    height: 50px;
    background-color: #1f1f1f;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
}
#top{
    width: 100%;
    margin: auto;
    display: flex;
    /* border: 1px solid red; */
}

#top > h4{
    text-align: center;
    font-family: sans-serif;
    padding-left: 190px;
}

#top > h4 + a{
    text-decoration: none;
    padding-left: 150px;
}

#info{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#info > div{
    /* border: 1px solid blue; */
    display: flex;
    width: 97%;
    
}
#info > div > div:nth-child(1){
    width: 20%;
    height: 60px;
    margin-top: 25px;
    /* border: 1px solid red; */
    display: block;
    text-align: center;
    margin-right: 10px;
}

#info > div > div + div{
    width: 80%;
    /* border: 1px solid blue; */
    height: 100px;
}

#footer{
    width: 100%;
    height: 600px;
    margin-top: 30px;
    background-color: #1f1f1f;
}

#footInfo{
    display: flex;
}

#footer > h2{
    color: white;
    font-family: sans-serif;
    padding-top: 30px;
    text-align: center;
}

#footer > #footForm{
    margin: auto;
    text-align: center;
}

#footer > #footForm > input[type="email"]{
    width: 30%;
    height: 50px;
    background-color: #303030;
    border: none;
    color: white;
    font-size: 20px;
}

#footer > #footForm > input[type="submit"]{
    background-color: #525252;
    border: none;
    color: white;
    width: 10%;
    height: 50px;
    font-size: 20px;
}

#footer  p, h6{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}


#footInfo img{
    width: 100%;
}

#footInfo > div:nth-child(1){
    width: 25%;
    height: 150px;
    padding-left: 50px;
    padding-top: 40px;
    justify-content: center;
}

#footInfo > div:nth-child(2){
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

hr{
    border: 1px solid #2b2b2b;
}

#copyright{
    color: white;
    /* margin-left: 50px; */
    font-family: sans-serif;
}

#media{
    display: flex;
    justify-content: space-around;
}

#wish{
    text-align: center;
    margin-top: 100px;
}