*{
    box-sizing: border-box;
    font-family: sans-serif;
}

#main{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    /* border: 1px solid red; */
}

#cat{
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 60px;
    bottom: 0px;
    /* border: 1px solid red; */
}

#shop{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    gap: 20px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

#shop > div{
    /* border: 1px solid greenyellow; */
    text-align: center;
    margin: auto;
    height: auto;
}

#shop > div  img{
    cursor: pointer;
    transition: transform 0.3s;
}

#shop > div img:hover{
    transform: scale(1.050);
}

#shop > div > img{
    display: block;
    margin: auto;
    width: 80%;
}

.container{
    position: relative;
    max-width: 320px;
    width: 100%;
}

.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.select-btn .btn-text{
    color: #333;
    font-weight: 400;
}

.select-btn .arrow-dwn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-btn.open ~ .list-items{
    display: block;
}

.list-items{
    position: relative;
    display: none;
}

.list-items .item{
    list-style: none;
    display: flex;
    align-items: center;
}

.item .checkbox{
    height: 16px;
    width: 16px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.checkbox .check-icon{
    font-size: 11px;
    transform: scale(0);
}

.item.checked .checkbox{
    background-color: black;
    border-color: #4070f4;
    color: white;
}

.item{
    margin-bottom: 20px;
}

.item.checked .check-icon{
    transform: scale(1);
}

.select-btn1{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.select-btn1 .btn-text1{
    color: #333;
    font-weight: 400;
}

.select-btn1 .arrow-dwn1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-btn1.open ~ .list-items1{
    display: block;
}

.list-items1{
    position: relative;
    display: none;
}

.list-items1 .item1{
    list-style: none;
    display: flex;
    align-items: center;
}

.item1 .checkbox1{
    height: 16px;
    width: 16px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.checkbox1 .check-icon1{
    font-size: 11px;
    transform: scale(0);
}

.item1.checked .check-icon1{
    transform: scale(1);
}

.item1.checked .checkbox1{
    background-color: black;
    border-color: #4070f4;
    color: white;
}

.item1{
    margin-bottom: 20px;
    cursor: pointer;
}